@{
    ViewBag.Title = "Home Page";
}

    <br />
    <div class="container">
        <div class="row">
            <div class="jumbotron">
                <h1>Projeto ASP.NET MVC 5</h1>
                <br />
                <p>Com separação de responsabilidades</p>
                <ul>
                    <li>Presentation</li>
                    <li>Application</li>
                    <li>Domain</li>
                    <li>Repository</li>
                    <li>Tests</li>
                </ul>
                <br />
                <p><a class="btn btn-primary btn-lg" href="#" role="button">Learn more</a></p>
            </div>
        </div>
    </div>